@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-Medium.eot");
	src: url("Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
		url("Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-Regular.eot");
	src: url("Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
		url("Montserrat-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-Bold.eot");
	src: url("Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
		url("Montserrat-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-ThinItalic.eot");
	src: url("Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"),
		url("Montserrat-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

/*----------------------------------------------------------------------*/

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}


img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*---------------------------------------------------------------------------*/

body {
	font-family: "Montserrat";
	overflow-x: hidden;
}

main>*:not(:last-child) {
	margin-bottom: 4rem;
}


a {
	text-decoration: none;
}

h1 {
	color: #111010;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
}

h2 {
	color: #111010;
	font-size: 26px;
	font-weight: 100;
	font-style: italic;
	line-height: 26px;
}

h3 {
	color: rgba(17, 16, 16, 0.5);
	font-size: 16px;
	font-weight: 100;
	font-style: italic;
	line-height: 26px;
	padding-top: 3px;
}

h4 {
	color: #000000;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
}

h5 {
	color: #FFFFFF;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	text-transform: capitalize;
}

h6 {
	color: #A4A4A4;
	font-weight: 400;
	font-size: 14px;
	line-height: 170%;
	text-transform: capitalize;
}

p {
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #616161
}

.container {
	max-width: 1424px;
	margin: 0 auto;
}

.sr-only {
	position: absolute;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
}

/*------------------------HEADER----------------------------------------*/

.header {
	flex: 1 1 auto;
	max-width: 1424px;
	margin: 0 auto;
}

.header__menu {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	text-align: center;
	padding: 44px 0;
}

.header__icons {
	display: flex;
}

.header__cart {
	padding: 0 24px;
}

.header__favourite {
	padding: 0 24px;
}

.header__profile {
	padding: 0 24px;
}

.header__nav {}

.header__list {
	list-style-type: none;
	/*word-spacing: 44px;*/
	text-transform: uppercase;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
}

.header__list li {
	display: inline-block;
	padding: 0 20px;
}

.link {
	color: #0a0a0a;
}

.header__list li:hover {
	color: #979797;
}

/*----------------HERO-BANNER------------------------------------------------*/

.hero-banner {
	position: relative;
	margin-top: 2rem;
	height: 526px;

}

.hero-banner__image-wrapper {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.hero-banner__rectangle-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
}

.hero-banner__rectangle {
	position: relative;
	margin-left: auto;
	padding: 4rem;
	width: 712px;
	height: 402px;
	background: rgba(0, 0, 0, 0.36);
}

.hero-banner__rectangle>*:not(:last-child) {
	margin-bottom: 2rem;
}

.hero-banner__rectangle h1 {
	color: #ffffff;
}

.hero-banner__rectangle p {
	color: #ececec;
	text-align: left;
}

.hero-banner__rectangle button {
	font-size: 16px;
	font-weight: 700;
	color: #000000;
	background-color: #FFFFFF;
	width: 180px;
	height: 52px;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
}

/*------------------------------------------VISION------------------------------*/

.vision {
	position: relative;
	height: 526px;
	display: flex;
	align-items: center;
}

.vision__image-wrapper {
	position: absolute;
	margin-left: 121px;
}

.vision__block {
	position: relative;
	background-color: #F7F7F7;
	width: 708px;
	height: 402px;
	padding: 50px;
}

.vision__block h1 {
	margin-bottom: 30px;
}

.vision__block p {
	text-align: left;
	margin-bottom: 30px;
}

.vision__block button {
	width: 180px;
	height: 52px;
	background-color: #111010;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 52px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}

/*-----------------------------CARDS----------------------------------------------*/

.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cards__text-block {
	text-align: center;
	margin-bottom: 40px;
	/*position: relative;*/
}

.cards__text-block h1 {
	margin-bottom: 20px;
}

hr {
	background-color: #C4C4C4;
	height: 5px;
	width: 150px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	/*position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)*/
}

.cards__image-block {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	gap: 30px;
}


.first-card {}

.second-card {}

.third-card {}

.fourth-card {}

.first-card_text {
	padding-top: 34px;
	padding-bottom: 50px;
}

.cards button {
	background-color: #111010;
	color: #FFFFFF;
	width: 180px;
	height: 52px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 80px;
}

.list {}

/*---------------------------PRODUCT-------------------------------------------*/

.product {
	display: flex;
	justify-content: space-around;
	position: relative;
	margin-bottom: 80px;
}

.product__image {}

.product__image-big {
	display: block;
}

.product__image-small {
	margin: 27px 25px auto 0;
}

.product__image-small small-image {
	display: inline-block;
	width: 159px;
	height: 144px;
	padding: 30px;
}

.small-image {
	padding-right: 20px;
}



.product__name {
	padding: 0 43px 0 60px;
}

.product__name-text {}



.product__button {
	display: flex;
}

.product__button {
	display: flex;
	margin-top: 40px;
	font-size: 24px;
	column-gap: 20px;
}

* {
	box-sizing: border-box;
}

.product__first-button {
	display: flex;
	justify-content: center;
	border: 1px solid #000000;
	width: 195px;
}

.first-button__btn {
	font-family: montserrat;
	color: #000000;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	width: 64px;
	height: 65px;
	display: inline-block;
	/*border: 0;*/
	background: transparent;
}

.first-button__input {
	width: 50px;
	height: 65px;
	/*border: 0;*/
	text-align: center;
}

.product__second-button {
	background-color: #22222B;
	color: #FFFFFF;
	font-weight: 400;
	font-style: 20px;
	line-height: 24px;
	width: 221px;
	height: 67px;
	text-transform: uppercase;
}

.custom-checkbox {
	width: 67px;
	height: 67px;
	border: 1px solid black;
	background: #000000;
	display: grid;
	place-items: center;
}
.custom-checkbox label {
	bottom: 2rem;
	right: 2rem;
}

.heart {
	display:inline-block;
	width: 2rem; 
	aspect-ratio: 1;
	clip-path: polygon(-41% 0,50% 91%, 141% 0);
	border-image: radial-gradient(#fff 69%,rgba(255, 255, 255, 0) 70%) 84.5% fill/100%;
	cursor: pointer;
}

.custom-checkbox input:checked ~ .heart {
	border-image: radial-gradient(rgb(255, 0, 0) 69%,#0000 70%) 84.5% fill/100%;
	opacity: .8;
}

.list {
	width: 308px;
	height: 101px;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	margin: 20px;
}

.list li {}

/*------------------------------------FOOTER----------------------------------*/

.footer {
	background-color: #111010;
	color: #FFFFFF;

}

.footer__wrapper {
	display: grid;
	grid-template-columns: 250px 1fr;
	padding-top: 68px;
	padding-bottom: 26px;
	gap: 292px;
	max-width: 1400px;
	margin: 0 auto;
}


.footer__logo-block {
	display: block;
	flex-direction: column;
	align-items: flex-start;
}

.footer__logo {
	padding: 0 0 80px 0;
}

.footer__sotials {
	padding: 0 0 42px 0;
}

.footer__icon {
	padding: 0 15px 0 0;
}

.footer__text {
	color: #FFFFFF;
	padding: 0 0 26px 0;
	font-weight: 400;
	font-size: 9px;
	line-height: 11px;
}


.footer__column {
	display: flex;
}

.footer__column h5 {
	padding: 0 0 15px 0;
}

.footer__column li {
	padding: 0 0 9px 0;
	list-style-type: none;
	font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 170%;
}


.footer__first-block {
	padding: 0 190px 26px 0;
}

.footer__list-first {}

.footer__second-block {
	padding: 0 160px 128px 0;
}

.footer__list-second {}

.footer__third-block {
	padding: 0 0 128px 0;
}

.footer__list-third {}