@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-Medium.eot");
	src: url("Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
		url("Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-Regular.eot");
	src: url("Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
		url("Montserrat-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-Bold.eot");
	src: url("Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
		url("Montserrat-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-ThinItalic.eot");
	src: url("Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"),
		url("Montserrat-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

/*----------------------------------------------------------------------*/

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*---------------------------------------------------------------------------*/

body {
	font-family: "Montserrat";
	overflow-x: hidden;
}

main>*:not(:last-child) {
	margin-bottom: 4rem;
}

a {
	text-decoration: none;
}

h1 {
	color: #111010;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
}

h2 {
	color: #111010;
	font-size: 26px;
	font-weight: 100;
	font-style: italic;
	line-height: 26px;
}

h3 {
	color: rgba(17, 16, 16, 0.5);
	font-size: 16px;
	font-weight: 100;
	font-style: italic;
	line-height: 26px;
}

p {
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #616161
}

footer {
	flex: 1 1 auto;
	max-width: 1424px;
	margin: 0 auto;
}

.container {
	max-width: 1424px;
	margin: 0 auto;
}

/*------------------------HEADER----------------------------------------*/

.header {
	flex: 1 1 auto;
	max-width: 1424px;
	margin: 0 auto;
}

.header__menu {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	text-align: center;
	padding: 44px 0 40px 0;
}

.header__icons {
	display: flex;
}

.header__cart {
	padding: 0 24px;
}

.header__favourite {
	padding: 0 24px;
}

.header__profile {
	padding: 0 24px;
}

.header__nav {}

.header__list {
	list-style-type: none;
	/*word-spacing: 44px;*/
	text-transform: uppercase;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
}

.header__list li {
	display: inline-block;
	padding: 0 20px;
}

.link {
	color: #0a0a0a;
}

.header__list li:hover {
	color: #979797;
}

/*----------------HERO-BANNER------------------------------------------------*/

.hero-banner {
	position: relative;
	margin-top: 2rem;
	height: 526px;
}

.hero-banner__image-wrapper {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.hero-banner__rectangle-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
}

.hero-banner__rectangle {
	position: relative;
	margin-left: auto;
	padding: 4rem;
	width: 712px;
	height: 402px;
	background: rgba(0, 0, 0, 0.36);
}

.hero-banner__rectangle>*:not(:last-child) {
	margin-bottom: 2rem;
}

.hero-banner__rectangle h1 {
	color: #ffffff;
}

.hero-banner__rectangle p {
	color: #ececec;
	text-align: left;
}

.hero-banner__rectangle button {
	font-size: 16px;
	font-weight: 700;
	color: #000000;
	background-color: #FFFFFF;
	width: 180px;
	height: 52px;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
}

/*------------------------------------------VISION------------------------------*/

.vision {
	position: relative;
	height: 526px;
	display: flex;
	align-items: center;
}

.vision__image-wrapper {
	position: absolute;
	margin-left: 121px;
}

.vision__block {
	position: relative;
	background-color: #F7F7F7;
	width: 708px;
	height: 402px;
	padding: 50px 55px 52px 43px;
}

.vision__block h1 {
	margin-bottom: 30px;
}

.vision__block p {
	text-align: left;
	margin-bottom: 30px;
}

.vision__block button {
	width: 180px;
	height: 52px;
	background-color: #111010;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 52px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}

/*-----------------------------CARDS----------------------------------------------*/

.cards {}

.cards__text-block {
	text-align: center;
/*position: relative;*/
}

hr {
	background-color: #C4C4C4;
	height: 5px;
	width: 150px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	/*position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)*/
}
.cards__image-block {}

.first-card {}

.second-card {}

.third-card {}

.fourth-card {}